@import 'bootstrap/dist/css/bootstrap.min.css';

.round-img {
    width: 350px; /* Adjust size as needed */
    height: 350px; /* Adjust size as needed */
    transition: transform 0.3s ease;
  }

  .round-img:hover {
    transform: scale(1.1);
}

.round-img-link {
display: inline-block;
width: 350px; /* Adjust size to match the image */
height: 350px; /* Adjust size to match the image */
padding: 0;
border-radius: 50%;
}

.img1{
  margin-top: -5px;
}
.img2{
  margin-top: 25vh;
}
.img3{
  margin-top: 5px;
}
.hero-text{
  font-size: 4rem;
  margin: 0;
  line-height: 2.5;
}

.content::before{
  margin-top: 4rem;
  content: '';
  display: block;
  width: 100%; /* Stretch the line to the width of its container */
  height: 1px; /* Height of the line */
  background-color: black; /* Color of the line */
}

.nav-link{
  color: black;
}