@import 'bootstrap/dist/css/bootstrap.min.css';

.round-img {
    width: 350px; /* Adjust size as needed */
    height: 350px; /* Adjust size as needed */
    transition: transform 0.3s ease;
  }

  .round-img:hover {
    transform: scale(1.1);
}

.round-img-link {
display: inline-block;
width: 350px; /* Adjust size to match the image */
height: 350px; /* Adjust size to match the image */
padding: 0;
border-radius: 50%;
}

.img1{
  margin-top: -5px;
}
.img2{
  margin-top: 25vh;
}
.img3{
  margin-top: 5px;
}
.hero-text{
  font-size: 4rem;
  margin: 0;
  line-height: 2.5;
}

.content::before{
  margin-top: 4rem;
  content: '';
  display: block;
  width: 100%; /* Stretch the line to the width of its container */
  height: 1px; /* Height of the line */
  background-color: black; /* Color of the line */
}

.nav-link{
  color: black;
}

.card-img-top{
  border-radius: 50px;
  padding: 20px;
}
.card{
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.card-body{
  padding: 25px;
  margin-top: -15px;
}
.btn-primary{
  border-radius: 50px;
  width: 120px;
}
.btn-primary:hover{
  background-color: black;
  border: none;
}
h3,h5{
  color: rgb(0, 91, 228);
}